In [4]:
import pandas as pd

In [1]:
import numpy as np

In [5]:
df=pd.read_csv('Sales Data.csv')

In [6]:
df.head(10)

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12
5,5,295670,AA Batteries (4-pack),1,3.84,2019-12-31 22:58:00,"200 Jefferson St, New York City, NY 10001",12,3.84,New York City,22
6,6,295671,USB-C Charging Cable,1,11.95,2019-12-16 15:10:00,"928 12th St, Portland, OR 97035",12,11.95,Portland,15
7,7,295672,USB-C Charging Cable,2,11.95,2019-12-13 09:29:00,"813 Hickory St, Dallas, TX 75001",12,23.90,Dallas,9
8,8,295673,Bose SoundSport Headphones,1,99.99,2019-12-15 23:26:00,"718 Wilson St, Dallas, TX 75001",12,99.99,Dallas,23
9,9,295674,AAA Batteries (4-pack),4,2.99,2019-12-28 11:51:00,"77 7th St, Dallas, TX 75001",12,11.96,Dallas,11

In [ ]:
result = df.groupby(['Month', 'City']).agg({
    'Unnamed: 0': 'count',           
    'Price Each': 'sum',             
    'Quantity Ordered': 'sum',       
    'Sales': 'sum'                   
}).round(2)


result.columns = ['total_sales', 'total_price', 'total_quantity', 'total_sales_amount']
result = result.reset_index()

In [8]:
result

,Month,City,total_sales,total_price,total_quantity,total_sales_amount
0,1,Atlanta,785,148523.69,876,149159.54
1,1,Austin,529,87663.19,582,88087.06
2,1,Boston,1051,200239.58,1174,201088.49
3,1,Dallas,784,142873.48,878,143462.51
4,1,Los Angeles,1529,286754.48,1716,288601.90
...,...,...,...,...,...,...
103,12,Los Angeles,3899,679241.56,4378,684044.84
104,12,New York City,3402,643612.89,3816,646770.83
105,12,Portland,1647,302562.99,1858,303714.11
106,12,San Francisco,6019,1100501.11,6787,1106601.27
107,12,Seattle,1978,386152.70,2203,387317.93

In [12]:
result.to_excel('finalResult.xlsx', sheet_name='Sales Summary', index=False)